.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "AntarioBold";
  src: local("Antario-Bold"),
  url("./fonts/Antario-Bold.otf") format("opentype");
}

@font-face {
  font-family: "AntarioRegular";
  src: local("Antario-Regular"),
  url("./fonts/Antario-Regular.otf") format("truetype");
}

@font-face {
  font-family: "CatavaloBold";
  src: local("Catavalo-Bold"),
  url("./fonts/Catavalo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "CatavaloRegular";
  src: local("Catavalo-Regular"),
  url("./fonts/Catavalo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "CatavaloLight";
  src: local("Catavalo-Light"),
  url("./fonts/Catavalo-Light.ttf") format("truetype");
}